$color-main: #008080;
$color-main-p40: #9cc9cc;
$color-main-p10: #e6f2f2;
$color-secondary-text-black: #909399;
$color-disable-black: rgba(10, 30, 60, 0.25);
$color-border-black: rgba(10, 30, 60, 0.15);
$color-background-black: rgba(10, 30, 60, 0.09);
$color-title-white: rgba(255, 255, 255, 1);
$color-primary-text-white: rgba(255, 255, 255, 0.85);
$color-secondary-text-white: rgba(255, 255, 255, 0.65);
$color-disable-white: rgba(255, 255, 255, 0.45);
$color-border-white: rgba(255, 255, 255, 0.25);
$color-background-white: rgba(255, 255, 255, 0.09);
$footer-height: 60px;
$border: 1px solid $color-border-black;
$max-width-xs: 575.98px;
$max-width-sm: 767.98px;
$max-width-md: 991.98px;
$max-width-lg: 1199.98px;

:root {
    --bg-color-mute: #f2f2f2;
    --code-font-family: Menlo, Consolas, Courier Prime, monospace;
}

.dark {
    --bg-color-mute: #2c2c2c;
}
