@import '~/assets/variables.scss';

html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: $footer-height;
    .header {
        width: 100%;
        border-bottom: $border;
        background-color: $color-main;
    }
    .body-container {
        width: 100%;
        padding: 10px;
        .el-page-header__content {
            font-weight: bold;
        }
    }
    .footer {
        height: $footer-height;
        background-color: #35373b;
        flex-direction: column;
        h6 {
            color: $color-primary-text-white;
            padding: 0 10px;
            font-size: 12px;
            a {
                color: $color-primary-text-white;
                &:hover {
                    color: $color-primary-text-white;
                }
            }
        }
    }
}
a {
    color: $color-main;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        opacity: 0.8;
    }
    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }
}

p {
    color: $color-regular-text-black;
    font-size: 16px;
    line-height: 1.8em;
}

li {
    color: $color-regular-text-black;
    font-size: 16px;
    line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: $color-primary-text-black;
}

h1 {
    font-size: 38px;
    line-height: 46px;
}

h2 {
    font-size: 30px;
    line-height: 38px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 22px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

hr {
    height: 1px;
    border: none;
    border-top: $border;
    margin: 80px 0 0 0;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: Courier Prime;
    src: url(~static/fonts/courier-prime.woff2) format('woff2'), url(~static/fonts/courier-prime.woff) format('woff'),
        url(~static/fonts/courier-prime.eot) format('eot');
    font-display: swap;
}
