$color-main: #409eff;
$color-main-p90: rgba(64, 158, 255, 0.9);
$color-main-p80: rgba(64, 158, 255, 0.8);
$color-main-p60: rgba(64, 158, 255, 0.6);
$color-main-p40: rgba(64, 158, 255, 0.4);
$color-main-p20: rgba(64, 158, 255, 0.2);
$color-main-p10: rgba(64, 158, 255, 0.1);
$color-title-black: rgba(10, 30, 60, 0.85);
$color-primary-text-black: rgba(10, 30, 60, 0.65);
$color-secondary-text-black: rgba(10, 30, 60, 0.45);
$color-disable-black: rgba(10, 30, 60, 0.25);
$color-border-black: rgba(10, 30, 60, 0.15);
$color-background-black: rgba(10, 30, 60, 0.09);
$color-title-white: rgba(255, 255, 255, 1);
$color-primary-text-white: rgba(255, 255, 255, 0.85);
$color-secondary-text-white: rgba(255, 255, 255, 0.65);
$color-disable-white: rgba(255, 255, 255, 0.45);
$color-border-white: rgba(255, 255, 255, 0.25);
$color-background-white: rgba(255, 255, 255, 0.09);
$footer-height: 60px;
$border: 1px solid $color-border-black;
$max-width-xs: 575.98px;
$max-width-sm: 767.98px;
$max-width-md: 991.98px;
$max-width-lg: 1199.98px;